table a:link {
    color: #000000;
    text-decoration: none;
}

table a:visited {
    color: #000000;
    text-decoration: none;
}

table a:hover {
    color: #000000;
    text-decoration: underline;
}

table a:active {
    color: #000000;
    text-decoration: none;
}

table h3 {
    font-size: 14px;
    margin: 0; 
}

table p {
    font-size: 12px;
    margin: 0; 
}

.tborder {
    background-color: #e6e6e6;
    color: #000000;
    border-bottom: 1px solid #cecece;
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;
}

table td {
    border-bottom: 1px solid #bfbfbf;
}

#header_table {
    border: 0;
    margin-left: 15px;    
}

#header_table td {
    border: 0;
}

.thead {
    color: #ffffff;
    text-shadow: 1px 1px 0px #386b25;
    background: linear-gradient(to bottom, #86bf4e 0%, #5fa34c 100%);
    opacity: 0.9;
    font-size: 13px;
    font-weight: bold;
}

td.thead {
    padding: 4px;
}

.thread_row {
    font-size: 12px;
}

#main_forum_header {
    background-color: #FF5500;
    border-bottom: 5px solid #000;
    padding-top: 12px;
    padding-bottom: 6px;
    padding-left: 10px;
    height: 35px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 4px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    text-shadow: 1px 1px 1px #000000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #ffffff;
}

#forum_container {
    margin: 0 auto;
    margin-top: 20px;
    width: 925px;
    background-color: #efefef;
    -webkit-box-shadow: 4px 4px 4px #030303;
    -moz-box-shadow: 4px 4px 4px #030303;
    box-shadow: 4px 4px 4px #030303;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

#reply_button {
    color: #ffffff;
    text-decoration: none;
}
